%h1 Listing Topics

- if @topics.present?
  %table.table.table-striped
    = render partial: 'panel/topics/topic', collection: @topics

    = paginate @topics, theme: 'twitter-bootstrap-3'
- else
  .text-center
    %h1 No topics yet
    = link_to 'Add topic', [:new, :panel, :topic], class: 'btn btn-success'
