.row
  .col-md-12
    %h1
      Topic:
      = @topic.name
      = surround('(', ')') do
        = link_to 'Edit', [:edit, :panel, @topic]

- if @topic.posts.present?
  - @topic.posts.each do |post|
    = link_to post.name, [:panel, post]
- else
  %h1.text-center No posts yet
