%tr
  %td
    %strong= link_to video.name, panel_video_path(video)
  %td= link_to t('panel.views.edit'), edit_panel_video_path(video), class: 'btn btn-primary'
  %td= link_to t('panel.views.remove'), panel_video_path(video), method: :delete, class: 'btn btn-danger', data: {confirm: t('panel.views.confirm')}