.col-xs-12.col-md-6.col-lg-4.text-center
  .item.fixed_height
    = link_to topic_path(topic) do
      %h2= topic.name
      %img.img-rounded{src: (topic.image.file.url rescue ImageUploader::default_url)}
