= render 'shared/title', obj: @gallery_topic, text: @gallery_topic ? @gallery_topic.name : t('token.gallery_items')

.row
  = render @gallery_items

.col-xs-12
  = paginate @gallery_items, theme: 'twitter-bootstrap-3'
