%h1 Listing Categories

- if @categories.present?
  %table.table.table-striped
    = render partial: 'panel/categories/category', collection: @categories

  = paginate @categories, theme: 'twitter-bootstrap-3'
- else
  .text-center
    %h1 No categories yet
    = link_to 'Add category', [:new, :panel, :category], class: 'btn btn-success'

