.row
  .col-md-12
    %h1
      Category:
      = @category.name
      = surround('(', ')') do
        = link_to 'Edit', [:edit, :panel, @category]

- if @category.topics.present?
  - @category.topics.each do |topic|
    = link_to topic.name, [:panel, topic]
- else
  %h1.text-center No topics yet
