/*
 *= require_directory ./application
 *= require_directory ./shared
 *= require_self
 */

#full-screen-background-image {
    z-index: -999;
    min-height: 100%;
    min-width: 1024px;
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
}

.item {
  z-index: 1030;

  h3 {
    text-overflow: ellipsis;
    border-bottom: 1px solid gray;
  }

  word-wrap: break-word;
  margin: 15px 0;
  padding: 10px;

  img {
    max-width: 100%;
    height: auto;
  }

  $height: 300px;
  $padd: 20px;
  $head: 80px;

  &.fixed_height {
    word-wrap: normal;

    padding: 0 15px;
    height: $height;
    max-height: $height;
    min-height: $height;
    overflow: hidden;

    h3 {
      max-height: $head;
      overflow: hidden;
    }

    img {
      max-width: 100%;
      width: auto;
      height: $height - $head;
      max-height: $height - $head;
    }
  }
}

.item, h1, body .navbar {
  border: 1px #e4e4e4 solid;
  border-radius: 8px;
  box-shadow: 0 0 6px #ccc;

  background: rgba(255, 255,255,0.8) none repeat scroll 0 0
}

body .navbar {
  background: rgba(255, 255,255,0.92) none repeat scroll 0 0
}

//, a.dropdown-toggle
.navbar-nav {
  li {
    padding: 0 2px;
  }

  li a, a.dropdown-toggle {
    background: rgba(255, 255, 255, 0.7) none repeat scroll 0 0;
    border-radius: 8px !important;
    border: 1px solid #AAA;
  }

  li.active a {
    background-color: #428bca !important;
    color: #fff !important;
  }

  a:hover, a:focus {
    background-color: #000;
    color: #fff;
  }
}

//.navbar-toggle {
//  background: rgba(255, 255, 255, 0.7) none repeat scroll 0 0;
//}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  background-color: #ebe79f;
}

.navbar-brand {
  font-family: 'Fofont';
  font-weight: bold;
}