%tr
  %td
    %strong= link_to post.name, [:panel, post]
  %td= link_to t('panel.view.edit'), [:edit, :panel, post], class: 'btn btn-primary'
  %td= link_to t('panel.view.remove'), [:panel, post], method: :delete, class: 'btn btn-danger', data: {confirm: t('panel.view.confirm')}