.with_padding {
  padding-left: 65px !important;
  z-index: 998;
}

.weather_panel {
  z-index: 999;
  position: fixed;
  left: -1000px;
  border-radius: 8px;
  background: rgba(255, 255,255,0.8) none repeat scroll 0 0;
  margin: 15px 0;

  .weather_block {
    overflow: hidden;
    max-height: 50px;
    &:not(:last-child) {
      border-bottom: 1px solid gray;
    }
    text-align: center;
    padding: 0 4px;

    .degrees {
      position: absolute;
      right: 20px;
    }

    img {
      padding-top: 5px;
    }
  }
}

.colored {
  background-color: #ebe79f!important;
}